.m_show, .menu_bg, .sidebar_menu {display: none;}
.mainConWrap .tablet_slide, .mainConWrap .mobile_slide {display: none !important;}
.mainConWrap .pc_slide {display: block !important;}
@media all and (max-width:1700px) { 
    .sideAd {display: none;}
}
@media all and (max-width:1281px) { 
    .headerTop, .headerWrap, main, footer {
        width: 90%;
    }
    .mainMenu {
        width: 62%;
    }
}

@media all and (max-width:5000px) { 
    .mainConWrap .tablet_slide, .mainConWrap .mobile_slide {display: none !important;}
    .mainConWrap .pc_slide {display: block !important;}
    colgroup.wp_show, .only_m{display: none;}
    
}
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
@media all and (max-width:1279px) { 
    .rcm_pst_wrap .rcm_pst .conWrap {
        padding: 0;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p {
        padding: 3px 0;
        font-size: 14px; 
    }
    .rcm_pst_wrap .rcm_pst .conWrap p.en.bold {
        font-size: 16px;
        padding-top: 15px
    }
    .artList .imgWrap{
        height: 63%;
    }
    .shadowFull {
        display: none;
    }
    .bomTattWrap {
        width: 100%;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .img {
        height: 260px;
    }
}

@media all and (max-width:1279px) { 
    .rcm_pst_wrap .rcm_pst .conWrap {
        padding: 0;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p {
        padding: 3px 0;
        font-size: 14px; 
    }
    .rcm_pst_wrap .rcm_pst .conWrap p.en.bold {
        font-size: 16px;
        padding-top: 15px
    }
    .artList .imgWrap{
        height: 63%;
    }
    .shadowFull {
        display: none;
    }
    .bomTattWrap {
        width: 100%;
    }
}


@media all and (max-width:1170px) { 
    .rcm_pst_wrap .rcm_pst .conWrap p.en.bold {
        padding-top: 10px;
        font-size: 14px;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p {
        padding: 2px 0;
        font-size: 13px; 
    }
}
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/* 테블릿 */
@media all and (max-width:1024px) { 
    .m_show{
        display: inline-block;
    }
    .subMenu, .w_show{
        display: none !important;
    }
    #mainSlider .bx-wrapper {
        height: 400px;
        margin-bottom: 20px;
    }
    #mainSlider .bxslider .slideItem {
        height: 400px;
    }
    header .logo {
        position: relative;
        top: 10px;
        left: 15px;
    }

    .mainConWrap .pc_slide, .mainConWrap .mobile_slide{
        display: none !important;
    }
    .mainConWrap .tablet_slide{
        display: block !important;
    }
    .mainConWrap .sliderUl li > div > a .slideItem{
        height: 200px;
    }
    .mainConWrap .sliderUl li > div > a .slideCon {
        height: 100px;
    }
    .mainConWrap .sliderUl li > div > a .slideCon p {
        font-size: 14px;
    }
    .mainConWrap .sliderUl li > div > a .slideCon {
        padding: 15px;
    }
    .bx-wrapper .bx-prev {
        left: -15px;
    }
    .bx-wrapper .bx-next {
        right: -15px;
    }
    .mainConOuterWrap .tit {
        font-size: 32px;
    }
    #mainSlider .bxslider .slideItem .bnrMainTit {
        font-size: 40px;
        line-height: 50px;
    }
    #mainSlider .bxslider .slideItem .bnrSubTit {
        font-size: 18px;
    }
    #mainSlider .bxslider .slideItem .bnrTitWrap .bar {
        margin: 25px auto 30px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 8px;
        height: 8px;
    }
    #mainSlider .bx-wrapper .bx-pager, #mainSlider .bx-wrapper .bx-controls-auto {
        bottom: 26px;
    }
    #mainSlider .bx-wrapper .bx-controls-direction a{
        display: none;
    }
    main{
        width: 100%;
    }
    .mainConOuterWrap {
        width: 90%;
        margin: 50px auto 0;
    }
    footer {
        font-size: 14px;
    }
    table tr th.wp_show, table tr td.wp_show{ display: table-cell;}
    .noticeTbl tr th:nth-child(1), .noticeTbl tr td:nth-child(1), .noticeTbl tr th:nth-child(3), .noticeTbl tr td:nth-child(3){display: none;}
    .noticeTbl tr th:nth-child(2), .noticeTbl tr td:nth-child(2){width: 60%;}
    .noticeTbl tr th:nth-child(4), .noticeTbl tr td:nth-child(4){width: 20%;}
    .noticeTbl tr th:nth-child(5), .noticeTbl tr td:nth-child(5){width: 20%;}
    .paging {
        margin-top: 60px;
    }
    main h1.menu_tit {
        font-size: 36px;
        padding: 40px 0 60px;
    }
    .artSchWrap{
        display: none;
    }
    .artList > div {
        width: 33.3%;
        border: none !important;
        border-bottom: 1px solid #666 !important;
        border-left: 1px solid #666 !important;
    }
    .artList > div:nth-child(3n){
        border-right: 1px solid #666 !important;
    }
    .artList > div:nth-child(1), .artList > div:nth-child(2), .artList > div:nth-child(3){
        border-top: 1px solid #666 !important;
    }
    .artList.jobSchList > div{
        border: none !important;
        border-bottom: 1px solid #666 !important;
        margin-top: 30px;
    }
    .artList.jobSchList > div:nth-child(n+7):nth-child(-n+12) {
        border-bottom: none !important; 
    }
    .artList.jobSchList > div:nth-child(n+10):nth-child(-n+12) {
        display: none;
    }
    .rcm_pst_wrap{
        margin: 0 20px;
    }
    .rcm_pst_wrap .rcm_pst{
        padding: 8px;
        margin-right: 16px;
    }
    .rcm_pst_wrap .rcm_pst .conWrap {
        padding: 16px 0 0 0 ;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p.en.bold {
        font-size: 16px;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p {
        padding: 3px 0;
        font-size: 14px;
    }
    .artListWrap {padding: 0 20px;}
    .artList > div a {
        padding: 8px;
    }
    .select.m_select{
        border: none;
        width: 70px;
    }
    .sch_filter{
        font-size: 13px;
        color: #fff;
        border-left: 1px solid #666;
        padding-left: 10px;
        position: relative;
        padding-right: 25px;
    }
    .artListWrap .rit{margin: 50px 0;}
    .sch_filter::after{
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background-image: url(/img/icon/ic_filter.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        top: 3px;
        right: 5px;
    }
    .sch_filter {display: inline-block;}
    .bomTattWrap{ width: 100%; height: auto; padding-bottom: 80px;}
    .bomTattWrap .topWrap .conWrap{ 
        flex: 2; 
    }
    .bomTattWrap .thumImg {
        height: 147px;
        max-width: 176px;
        min-width: auto;
    }
    .bomTattWrap .topWrap .conWrap {
        padding: 0;
    }
    .bomTattWrap .topWrap .conWrap .tit {
        margin-bottom: 9px;
    }
    .bomTattWrap .topWrap .conWrap .con {
        font-size: 14px;
        margin-bottom: 10px;
        padding-bottom: 6px;
    }
    .bomTattWrap .topWrap .conWrap {
        height: 147px;
    }
    .bomTattWrap .cenWrap .imgWrap .bomImg:last-child{
        display: none;
    }
    .bomTattWrap .cenWrap a.menu {
        padding: 15px 0;
    }
    .bomTattWrap .cenWrap .imgWrap{
        height: auto;
    } 
    .bomTattWrap .cenWrap .conWrap .imgWrap .bomImg {
        height: 170px;
    }
    .bomTattWrap .cenWrap .conWrap {
        padding: 20px;
    }
    .bomTattWrap .cenWrap .conWrap .infoTit {
        font-size: 24px;
        margin: 25px 0;
    }
    .bomTattWrap .cenWrap .conWrap .infoCon {
        margin-bottom: 20px;
    }
    .bomTattWrap .cenWrap .conWrap .linkWrap .sns_icon {
        padding: 25px 0;
    }
    .bomTattWrap .cenWrap .conWrap .linkWrap.web_link .sns_icon:last-child{
        display: none;
    }   
    .tblet_link {display: flex;}
    .bomTattWrap .cenWrap .conWrap .linkWrap.tblet_link .sns_icon{
        flex: 0.5;
        margin-right: 17px;
        margin-top: 15px;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .img {
        height: 210px;
    }
    .recruitTbl tr th:nth-child(1), .recruitTbl tr td:nth-child(1){width: 70%;}
    .recruitTbl tr th:nth-child(2), .recruitTbl tr td:nth-child(2){width: 15%;}
    .recruitTbl tr th:nth-child(3), .recruitTbl tr td:nth-child(3){width: 15%;}
    table.imgList tr td img.reviewImg{
        width: 120px;
        height: 120px;
    }
    .modal {
        width: 60%;
    }
}
@media all and (max-width:950px) {
    .rcm_pst_wrap .rcm_pst .conWrap {
        padding: 5px 0 0 0 ;
    }
}
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/* 모바일 */
@media all and (max-width:767px) {
    .mainConWrap .pc_slide, .mainConWrap .tablet_slide{
        display: none !important;
    }
    .mainConWrap .mobile_slide{
        display: block !important;
    }
    .bx-wrapper .bx-controls-direction a{display: none;}
    .mainConWrap .sliderUl li > div {
        width: 100%;
    }
    footer {
        font-size: 12px;
        margin: 150px auto 0;
    }
    footer p{
        line-height: 20px;
    }
    #mainSlider .bxslider .slideItem, #mainSlider .bx-wrapper {
        height: 280px;
    }
    #mainSlider .bxslider .slideItem .bnrMainTit {
        font-size: 34px;
        line-height: 45px;
    }
    #mainSlider .bxslider .slideItem .bnrSubTit {
        font-size: 14px;
    }
    .sidebar_menu {
        width: 40%;
    }
    .wp_show{
        display: none;
    }
    .table tr td {
        font-size: 13px;
        padding: 12px 5px;
    }
    .new_con::after {
        top: 2px;
        width: 16px;
        height: 16px;
        right: -20px;
    }
    .rcm_pst_wrap .rcm_pst{
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p.en.bold {
        font-size: 18px;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p {
        font-size: 14px;
    }
    .artList > div {
        width: 50%;
        border: none !important;
        border-bottom: 1px solid #666 !important;
        border-left: 1px solid #666 !important;
    }
    .artList > div:nth-child(2n){
        border-right: 1px solid #666 !important;
    }
    .artList > div:nth-child(1), .artList > div:nth-child(2){
        border-top: 1px solid #666 !important;
    }
    .artList.jobSchList > div{
        border: none !important;
        border-bottom: 1px solid #666 !important;
        margin-top: 30px;
    }
    .artList.jobSchList > div:nth-child(n+5):nth-child(-n+6) {
        border-bottom: none !important; 
    }
    .artList.jobSchList > div:nth-child(n+7):nth-child(-n+12) {
        display: none;
    }
    .rcm_pst_wrap .shadow_div:last-child .rcm_pst {
        margin-right: 0;
    }
    .bomTattWrap .topWrap{
        position: relative;
    }
    .bomTattWrap .topWrap .flex_wrap .conWrap .flex_wrap{
        display: block;
    }
    .bomTattWrap .topWrap .conWrap{
        flex: 1;
        width: 45%;
        height: 190px;
    }
    .bomTattWrap .flex_wrap .conInnerWrap {
        flex: none;
        display: block;
    }
    .bomTattWrap .thumImg {
        height: 94px;
        max-width: auto;
        min-width: 50%;
    }
    .bomTattWrap .topWrap .conWrap .flex_wrap .conInnerWrap:first-child {
        margin-right: 0;
    }
    .bomTattWrap .topWrap .conWrap .m_br_flex{
        float: left;
        position: absolute;
        left: 20px;
        width: 47%;
    }
    .bomTattWrap .topWrap .conWrap .con {
        font-size: 12px;
    }
    .tblet_link {display: none;}
    .mobile_link {display: flex;}
    .bomTattWrap .cenWrap .conWrap .linkWrap.web_link .sns_icon:nth-child(2){
        display: none;
    }   
    .bomTattWrap .cenWrap .conWrap .linkWrap .sns_icon span {
        font-size: 15px;
    }
    .bomTattWrap .cenWrap .conWrap .linkWrap .sns_icon span::before {
        top: -4px;
    }
    .bomTattWrap .cenWrap .conWrap .linkWrap .sns_icon {
        padding: 20px 0;
        margin-bottom: 15px;
    }
    .bomTattWrap .cenWrap .conWrap .infoCon {
        line-height: 22px;
        font-size: 14px;
    }
    .bomTattWrap .cenWrap .conWrap .infoTit {
        font-size: 20px;
    }
    .bomTattWrap .cenWrap .conWrap .imgWrap .bomImg:nth-child(3) {
        display: none;
    }
    .bomTattWrap .cenWrap a.menu {
        padding: 8px 0;
        font-size: 15px;
    }
    .bomTattWrap .cenWrap .conWrap .imgWrap .bomImg {
        height: 140px;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img {
        width: 49%;
        margin-right: 2%;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img:nth-child(3n) {
        margin-right: 2%;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img:nth-child(2n) {
        margin-right: 0;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .img {
        height: 220px;
    }
    .recruitTbl tr th:nth-child(1), .recruitTbl tr td:nth-child(1){width: 85%;}
    .recruitTbl tr th:nth-child(2), .recruitTbl tr td:nth-child(2){display: none;}
    .recruitTbl tr th:nth-child(3), .recruitTbl tr td:nth-child(3){width: 15%;}
    .recruitTbl tr td .tblLink strong {
        font-size: 14px;
    }
    .modal {
        width: 80%;
    }
}

@media all and (max-width:615px) {
    .sidebar_menu { width: 50%; } 
    .rcm_pst_wrap .rcm_pst .conWrap {
        padding:5px 0 0 0 ;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .img {
        height: 180px;
    }
    .bomTattWrap .cenWrap .conWrap .galleryWrap {
        padding: 0;
    }
}
@media all and (max-width:536px) {
    .rcm_pst_wrap .rcm_pst .conWrap p.en.bold, .artList > div p.en.bold{
        font-size: 14px;
        padding-top: 5px;
    }
    .artList > div p.en.bold{
        padding-top: 10px;
    } 
    .rcm_pst_wrap .rcm_pst .conWrap p , .artList > div p{
        font-size: 12px;
    }
    .bomTattWrap .topWrap .conWrap .m_br_flex{
        width: 46%;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .img {
        height: 160px;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .tit {
        font-size: 14px;
        padding: 12px 0;
        margin-bottom: 5px;
    }
    table.imgList tr td img.reviewImg{
        width: 80px;
        height: 80px;
    }
    .modal {
        width: 90%;
    }
}
@media all and (max-width:450px) {
    .sidebar_menu { width: 60%; } 
    /* .rcm_pst_wrap .rcm_pst .conWrap {
        padding:2px 0 0 0 ;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p.en.bold {
        font-size: 12px;
    }
    .rcm_pst_wrap .rcm_pst .conWrap p {
        padding: 1px 0;
        font-size: 11px;
    } */
}
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
@media all and (max-width:425px) {
    footer {
        margin: 100px auto 0;
    }
    .mainConWrap .pc_slide, .mainConWrap .tablet_slide{
        display: none !important;
    }
    .mainConWrap .mobile_slide{
        display: block !important;
    }
    .mainConWrap .sliderUl li > div > a .slideItem {
        height: 150px;
    }
    .mainConOuterWrap .tit {
        font-size: 26px;
    }
    .mainConWrap .sliderUl li > div > a .slideCon p {
        font-size: 12px;
    }
    .mainConWrap .sliderUl li > div > a .slideCon {
        height: 95px;
    }
    .mainConOuterWrap .bx-wrapper .bx-pager {
        bottom: -30px;
    }
    .sidebar_menu {
        width: 70%;
        padding: 17px 14px;
    } 
  
    .noticeTbl tr th:nth-child(4), .noticeTbl tr td:nth-child(4){display: none;}
    .noticeTbl tr th:nth-child(2), .noticeTbl tr td:nth-child(2){width: 80%;}
    .noticeTbl tr th:nth-child(5), .noticeTbl tr td:nth-child(5){width: 20%;}
    header .logo img {
        width: 90px;
    }
    header .logo {
        left: 10px;
    }
    .menu_btn.m_show.flt_rit {
        top: 15px;
        right: 15px;
    }
    main h1.menu_tit {
        font-size: 24px;
        padding: 20px 0 40px;
    }
    .paging {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .new_con::after {
        top: 2px;
        width: 12px;
        height: 12px;
        right: -16px;
    }
    .tblLink {
        max-width: calc(100% - 21px);
    }
    .rcm_pst_wrap .rcm_pst .conWrap p.en.bold, .artList > div p.en.bold{
        font-size: 13px;
        padding-top: 0px;
    }
    .artList > div p.en.bold{
        padding-top: 10px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    } 
    .rcm_pst_wrap .rcm_pst .conWrap p , .artList > div p{
        font-size: 11px;
    }
    .bomTattWrap .topWrap .conWrap .m_br_flex{
        width: 45%;
    }
    .recruitTbl tr th:nth-child(1), .recruitTbl tr td:nth-child(1){width: 80%;}
    .recruitTbl tr th:nth-child(3), .recruitTbl tr td:nth-child(3){width: 25%;}
    .recruitTbl tr td .tblLink strong {
        font-size: 13px;
    }
    .modal-content {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }
}
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
@media all and (max-width:375px) {
    .m_filter .head p {padding-left: 10px;}
    .m_filter .head .close_btn {right: 10px;}
   
    .m_filter .flex_wrap .sch_chk_wrap {
        padding: 10px 20px;
    }
    .bomTattWrap .cenWrap .conWrap {
        padding: 10px;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .img {
        height: 120px;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .tit {
        font-size: 12px;
    }
    table.imgList tr td .star img {
        width: 15px;
        height: 15px;
    }
    table.imgList tr td .star {
        min-width: 75px;
    }
    table.imgList tr td:nth-child(2) {
        padding: 15px 5px;
        font-size: 12px;
        line-height: 18px;
    }
    table.imgList tr td img.reviewImg {
        width: 70px;
        height: 70px;
    }

}
@media all and (max-width:320px) {
    footer {
        margin: 50px auto 0;
    }
    .mainConWrap .sliderUl li > div > a {
        margin-right: 5px;
    }
    .mainConWrap .sliderUl li > div > a .slideItem {
        height: 120px;
    }
    .mainConWrap .sliderUl li > div > a .slideCon {
        height: 80px;
        padding: 12px;
    }
    .mainConWrap .sliderUl li > div > a .slideCon p {
        padding: 3px 0;
    }
    .mainConWrap .mobile_slide .sliderUl li > div:first-child {
        margin-bottom: 5px;
    }
    #mainSlider .bxslider .slideItem .bnrMainTit {
        font-size: 28px;
        line-height: 36px;
    }
    .headerSch .schIpt, .sidebar_menu, .sidebar_menu ul li a {
        font-size: 14px;
    }
    .sidebar_menu .headerSch {
        margin-bottom: 15px;
    }
    .sidebar_menu {
        width: 80%;
    } 

    .artList > div, .rcm_pst_wrap .rcm_pst {
        min-height: 200px !important;
    }
    .rcm_pst_wrap .rcm_pst .imgWrap {
        height: 68% !important;
    }
    .rcm_pst_wrap {margin: 0 5px;}
    .artListWrap{padding: 0 5px;}
    .m_filter .flex_wrap .sch_area_div {
        width: 100px;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .tit {
        font-size: 11px;
        padding: 12px 0;
    }
    .bomTattWrap .cenWrap .conWrap .gallery_img .img {
        height: 100px;
    }
    .bomTattWrap .cenWrap a.menu {
        font-size: 12px;
    }
}