.radio { position: absolute;left: -9999px; }
.radio + em {   
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    border: 0;
    border-radius: 17px;
    background: #fff;
    position: relative;
	border: 1px solid #fff;
	cursor: pointer;
	overflow: hidden;
}
.radio:checked + em, .radio:checked + em{
    border: 1px solid #f06927;
}
.radio + em + span { display: inline-block; vertical-align: middle; font-size:12px; color: #000; padding:0 0 0 8px;  color: #ededed; cursor: pointer; position: relative; top: -1px;}
.radio:checked + em + span, .checkbox:checked + em + span, .checkbox2:checked + em + span {font-weight: bold;}
.radio + em:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff702b url(/img/icon/btn-radio-on-18.png) no-repeat 50% 50%;
    transition: all 0.3s ease;
    opacity: 0;
    transform: scale(0.2);
    background-size: 100%;
	background-size: 1;
}
.radio:checked + em:before { opacity:1; transform:scale(1)}

.loginWrap {
    width: 700px;
    border: 1px solid #666;
    background-color: #3f3f3f;
    text-align: center;
    padding: 40px 50px;
    margin: 70px auto 90px;
}
h1.m_tit{
    font-size: 48px;
    font-weight: bold;
}
.loginWrap .topWrap{
    margin: 50px auto 88px;
    text-align: left;
}
.btn {
    font-size: 20px; background-color: #ff702b; color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 16px 0;
    box-sizing: border-box;
}
.btn.loginBtn{
    width: 100%;
    display: block;
}
.ipt, input[type='text'].ipt {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    background-color: #4e5053;
    border: 1px solid #999;
    color: #fff;
    outline: none;
    box-sizing: border-box;
}
.loginWrap .topWrap p{
    font-weight: bold;
    margin-bottom: 10px;
}
.loginWrap .topWrap .ipt{
    margin-bottom: 32px;
}
.loginWrap .topWrap input[type='password'].ipt{
    margin-bottom: 40px;
}
.loginWrap .botWrap{
    border-top: 1px solid #666;
}

.loginWrap .botWrap h6 {
    font-size: 26px;
    background-color: #3f3f3f;
    display: inline-block;
    position: relative;
    top: -14px;
    font-weight: bold;
    padding: 0 20px;
}
.loginWrap .botWrap .iconWrap {
    margin: 44px auto 64px;
    position: relative;
    left: 10px;
}
.loginWrap .botWrap .iconWrap a {
    margin-right: 20px;
}
.loginWrap .botWrap .iconWrap a:last-child {
    margin-top: 0;
}
.loginWrap .botWrap .linkWrap div {
    width: 1px;
    height: 20px;
    background-color: #666;
    margin: 0 15px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.prev_btn {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    left: 15px;
    top: 30px;
}
.prev_btn::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #fff;
    transform: rotate(-45deg);
    left: 8px;
    top: -4px;
}
.prev_btn::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    left: 8px;
    top: -10px;
}
.join_1Div .shadowFull, .join_1Div .bomTattWrap{
    height: 580px;
}
.join_1Div .bomTattWrap{
    padding: 40px 50px;
    text-align: center;
}
.join_1Div .bomTattWrap .gbDiv{
    width: 47%;
    height: 100%;
    background-color: #4e5053;
    border: 1px solid #999;
    text-align: center;
    display: inline-block;
    padding: 108px 0;
}
.join_1Div .bomTattWrap .gbDiv img{
    width: 90px; height: 90px;
}
.join_1Div .bomTattWrap .gbDiv .btn{
    padding: 12px 23px;
    font-size: 20px;
    margin-top: 43px;
    display: inline-block;
}
.join_1Div .bomTattWrap .gbDiv h3{
    font-size: 30px;
    margin: 26px auto 15px;
    font-weight: bold;
}
.join_1Div .bomTattWrap .gbDiv p{
    font-size: 18px;
}
.join_2Div .bomTattWrap{
    background-color: #3f3f3f;
    padding: 52px 75px; 
}
.join_2Div .shadowFull, .join_2Div .bomTattWrap{
    height: 940px;
}
.join_2Div .bomTattWrap h1{
    font-size: 36px;
    font-weight: bold;
    border-bottom: 3px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
}
.join_2Div .bomTattWrap table{
    margin: 35px 0 40px;
    width: 100%;
}
.join_2Div .bomTattWrap table tr th{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.join_2Div .bomTattWrap table .ipt{
    font-size: 14px;
    padding: 6px 10px;
    width: 218px;
}
.join_2Div .bomTattWrap table tr th, .join_2Div .bomTattWrap table tr td {
    padding: 20px;
    border-bottom: 1px solid #666;
    padding-right: 0;
}
.join_2Div .bomTattWrap table .btn{
    font-size: 14px;
    padding: 5px 20px;
    position: relative;
    top: 1px;
}
.join_2Div .bomTattWrap table .checkbox2 + em + span{
    width: 15%;
}
.join_2Div .bomTattWrap table .radio + em + span{
    width: 6%;
}
.join_2Div .bomTattWrap table .brDiv{
    height: 15px;
}
.join_2Div .bomTattWrap .joinBtn{
    font-size: 20px;
    font-weight: bold;
    padding: 17px 63px;
}
.join_2Div .bomTattWrap .cen{
    padding-top: 40px;
}

.profileDiv{
    text-align: center;
    margin-bottom: 60px;
}
.profileDiv .roundImg{
    margin:0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 20px;
    background-image: url('/img/tmp/artist-detail-gallery/artisat_detail_gallery_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.profileDiv p.en{
    font-size: 24px;
    font-weight: bold;
}
.profileWrap .flex_wrap a{
    padding: 30px 0;
    background-color: #2a2a2a;
    display: inline-block;
    text-align: center;
}
.profileWrap .flex_wrap a.on{
    background-color: #3f3f3f;
    border-top: 3px solid #ff702b;
}
.profileWrap .flex_wrap div{
    background-color: #484848;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 15px;
}
.profileWrap .flex_wrap .tab_a div{background-image: url('/img/icon/ic-ask-40.png');}
.profileWrap .flex_wrap .tab_b div{background-image: url('/img/icon/ic-heart-40.png');}
.profileWrap .flex_wrap .tab_c div{background-image: url('/img/icon/ic-post-40.png');}
.profileWrap .flex_wrap .tab_d div{background-image: url('/img/icon/ic-comment-40.png');}
.profileWrap .flex_wrap .tab_e div{background-image: url('/img/icon/ic-job-40.png');}
.profileWrap .flex_wrap .tab_f div{background-image: url('/img/icon/ic-profile-40.png');}
.profileWrap .flex_wrap a.on div{
    background-color: #ff702b;
}
.profileWrap .flex_wrap a.on p{
    color: #ff702b;
}
.join_2Div .bomTattWrap.profileWrap {
    padding: 0;
}
.join_2Div .bomTattWrap.profileWrap .tblWrap{
    padding: 52px 75px;
}
.profileWrap .flex_wrap p{
    font-weight: bold;
    margin-top: 10px;
}
.profileOuterWrap.join_2Div .shadowFull, .profileOuterWrap.join_2Div .bomTattWrap {
    height: 1080px;
}
.join_2Div .bomTattWrap table .ipt:read-only{
    color: #a6a6a6;
    background-color: #3f3f3f;
    border: 1px solid #757575;
}
.tab_wrap_w {
    display: block;
}
.tab_wrap_m{
    display: none;
}
.m_header {
    position: relative;
    width: 100%;
}
.m_header h6 {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.sch_btn {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    background-image: url('/img/icon/btn-search-20.png');
    background-repeat: no-repeat;
    background-position: center;
}
.m_header .sch_btn{
    position: absolute;
    top: 85%;
    right: 20px;
}
#boardEditWrap h3.tit{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
}
#boardEditWrap .boardEditIpt{
    width: 100%;
    background-color: #4e5053;
    border: 1px solid #999;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
}
#boardEditWrap .boardEditIpt.tit{
    font-weight: bold;
    padding: 12px 20px;
    font-family: "NotoSansKR-Medium";
}
#boardEditWrap .boardEditIpt.con{
    padding: 20px;
    height: 500px;
    overflow-y: scroll;
    outline: none;
    font-family: 'NotoSansKR-Regular';
    resize: none;
}
#boardEditWrap .btnWrap{
    text-align: center;
    margin-top: 60px;
}
#boardEditWrap .btnWrap a.btn{
    padding: 16px 63px;
}
.m_header .headerTit{ display: none; }
#boardDtlWrap .bomTattWrap{
    padding: 32px 40px;
    border-top: 2px solid #ff702b;
}
.boardPrevBtnDiv{
    margin-bottom: 40px;
}
.boardPrevBtn{
    padding: 7px;
    border: 1px solid #999;
}
.boardPrevBtn .prev_btn{
    display: inline-block;
    left: 0;
    top: 15px;
}
#boardDtlWrap .bomTattWrap .tit{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 32px;
    border-bottom: 1px solid #999;
}
#boardDtlWrap.join_2Div .bomTattWrap table tr th, #boardDtlWrap.join_2Div .bomTattWrap table tr td{
    padding: 5px 0;
    border-bottom: none;
    padding-right: 0;
}
.join_2Div .bomTattWrap table{
    margin: 20px 0;
}
#boardDtlWrap .bomTattWrap .con{
    border-top: 1px solid #999;
    padding-top: 30px;
    line-height: 25px;
    max-height: 715px;
    overflow-y: scroll;
}
/* 태블릿 */
@media all and (max-width:1024px) { 
    .mBodyNoHeader header  {   
        display: none;
    }
    .loginWrap {
        background-color: transparent;
        border: none;
        margin-top: 0;
        width: 100%;
        padding-top: 0;
    }
    .loginWrap .botWrap h6 {background-color: #222;}

    h1.m_tit {
        font-size: 22px;
        padding: 20px 0 40px;
        margin-top: 20px;
    }
    .loginWrap .botWrap h6 {
        font-size: 20px;
        top: -10px;
    }
    .loginWrap .botWrap .iconWrap a img{
        width: 52px;
        height: 52px;
    }
    .loginWrap .botWrap .iconWrap {
        margin: 41px auto 44px;
    }
    .join_1Div .bomTattWrap {
        padding: 30px;
    }
    .join_1Div .bomTattWrap .gbDiv {
        width: 48%;
        height: 100%;
        padding: 20px;
    }
    .join_1Div .bomTattWrap .gbDiv img {
        width: 55px;
        height: 55px;
    }
    .join_1Div .bomTattWrap .gbDiv h3 {
        font-size: 20px;
        margin: 15px auto 10px;
    }
    .join_1Div .bomTattWrap .gbDiv p {
        font-size: 13px;
    }
    .join_1Div .bomTattWrap .gbDiv .btn {
        margin-top: 30px;
        font-size: 15px;
    }
    .join_1Div .shadowFull, .join_1Div .bomTattWrap {
        height: 300px;
    }
    .join_1Div .bomTattWrap .gbDiv h3 {
        margin: 20px auto 10px;
    }
    .join_2Div .bomTattWrap{
        padding: 20px 0 100px;
    }
    .join_2Div .shadowFull, .join_2Div .bomTattWrap {
        height: auto;
    }
    .join_2Div .bomTattWrap h1 {
        font-size: 20px;
        margin-left: 20px
    }
    .join_2Div .bomTattWrap .joinBtn {
        font-size: 18px;
        padding: 11px 67px;
    }
    .join_2Div .bomTattWrap table .checkbox2 + em + span {
        width: 25%;
    }
    .join_2Div .bomTattWrap table .radio + em + span {
        width: 15%;
    }
    .join_2Div .bomTattWrap table .brDiv.m_show{
        display: block;
    }
    .profileOuterWrap.join_2Div .shadowFull, .profileOuterWrap.join_2Div .bomTattWrap {
        height: auto;
    }
    .join_2Div .bomTattWrap.profileWrap .tblWrap {
        padding: 52px 0 60px;
    }
    .join_2Div .bomTattWrap .cen {
        padding-top: 15px;
    }
    .join_2Div .bomTattWrap.profileWrap .tblWrap {
        padding-top: 30px;
    }
    #boardEditWrap h3.tit{
        display: none;
    }
    #boardEditWrap .boardEditIpt.con{
        border-top: none;
        border-bottom: none;
    }
    .m_header .headerTit {display: block; font-weight: bold; text-align: center;}
    #boardEditWrap .btnWrap {
        margin-top: 0;
    } 
    #boardEditWrap .btnWrap a.btn {
        padding: 14px 0 15px;
        width: 100%;
        display: inline-block;
        font-size: 18px;
        position: relative;
        top: -1px;
    }
    .boardPrevBtnDiv{
        display: none;
    }
    #boardDtlWrap .bomTattWrap {
        padding: 16px 20px;
    }
    #boardDtlWrap .bomTattWrap .tit{
        font-size: 22px;
        padding-bottom: 16px;
    }
    .join_2Div .bomTattWrap table {
        margin: 12px 0;
    }
    #boardDtlWrap .bomTattWrap .con {
        padding-top: 20px;
        max-height: none;
        overflow-y: auto;
    }
    #boardDtlWrap .bomTattWrap .con img{
        max-width: 100%;
    }
}
/* 모바일 */
@media all and (max-width:767px) {
    .loginWrap {
        padding: 0px 20px;
    }
    .loginWrap .botWrap .linkWrap a {
        font-size: 14px;
    }
    .loginWrap .topWrap .ipt {
        margin-bottom: 18px;
    }
    .loginWrap .topWrap input[type='password'].ipt {
        margin-bottom: 32px;
    }
    .btn {
        font-size: 18px;
    }
    .loginWrap .topWrap {
        margin-bottom: 60px;
        margin-top: 0;
    }
    .loginWrap .botWrap .iconWrap {
        margin: 41px auto 37px;
    }
    .loginWrap .botWrap h6 {
        font-size: 18px;
        top: -10px;
    }
    .join_1Div .bomTattWrap .gbDiv{
        float: none !important;
        text-align: left;
        width: 100%;
        position: relative;
        padding: 16px;
        margin-bottom: 20px;
    }
    .join_1Div .bomTattWrap .gbDiv:last-child{
        margin-bottom: 0;
    }
    .join_1Div .shadowFull, .join_1Div .bomTattWrap {
        height: auto;
    }
    .join_1Div .bomTattWrap .gbDiv img,  .join_1Div .bomTattWrap .gbDiv .innerWrap {
        float: left;
    }
    .join_1Div .bomTattWrap .gbDiv img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .join_1Div .bomTattWrap .gbDiv .innerWrap{
        margin-left: 75px;
    }
    .join_1Div .bomTattWrap .gbDiv h3 {
        margin-top: 0;
        font-size: 18px;
    }
    .join_1Div .bomTattWrap .gbDiv .btn {
        padding: 7px 11px;
        font-size: 14px;
        margin-top: 15px;
    }
    .join_2Div .bomTattWrap table tr th:first-child{
        width: 15%;
    }
    .join_2Div .bomTattWrap {
        padding-top: 26px;
    }
    .join_2Div .bomTattWrap table {
        margin-top: 20px;
    }
    .join_2Div .bomTattWrap .cen{
        padding-top: 15px;
    }
    .join_2Div .bomTattWrap{
        padding-bottom: 60px;
    }
    .tab_wrap_w {
        display: none;
    }
    .tab_wrap_m{
        display: block;
    }
    .profileWrap .flex_wrap a {
        padding: 17px 0;
    }
    .profileDiv .roundImg {
        width: 60px;
        height: 60px;
    }
    .profileDiv p.en {
        font-size: 17px;
    }
    .profileDiv {
        text-align: center;
        margin-bottom: 20px;
    }
    .profileWrap .flex_wrap div {
        width: 44px;
        height: 44px;
        background-size: 24px;
    }
    .profileWrap .flex_wrap p {
        font-size: 15px;
    }
    #boardDtlWrap .bomTattWrap .tit {
        font-size: 18px;
    }
    #boardDtlWrap.join_2Div .bomTattWrap table {
        margin-top: 10px;
    }
    #boardDtlWrap .bomTattWrap .con{
        line-height: 21px;
        font-size: 14px;
    }
    #boardDtlWrap.join_2Div .bomTattWrap table tr th, #boardDtlWrap.join_2Div .bomTattWrap table tr td {
        font-size: 14px;
    }
    #boardDtlWrap .bomTattWrap {
        padding: 15px 12px;
    }
}
@media all and (max-width:480px) {
    .join_2Div .bomTattWrap table tr th:first-child{
        width: 20%;
    }
    .join_2Div .bomTattWrap table .ipt {
        width: 180px;
    }
    .join_2Div .bomTattWrap table tr th, .join_2Div .bomTattWrap table tr td {
        padding: 16px 10px;
    }
    .join_2Div .bomTattWrap h1 {
        margin-left: 10px;
    }
    .join_2Div .bomTattWrap table .checkbox2 + em + span {
        width: 35%;
    }
    .join_2Div .bomTattWrap table .ipt{
        width: 100%;
    }
    .join_2Div .bomTattWrap table .ipt.s_ipt{
        width: calc(100% - 75px);
    }
}
@media all and (max-width:360px) {
    .join_2Div .bomTattWrap table tr th:first-child{
        width: 25%;
    }
}
@media all and (max-width:320px) {
    .loginWrap .botWrap .linkWrap a {
        font-size: 12px;
    }
    .join_1Div .bomTattWrap {
        padding: 20px;
    }
    .join_2Div .bomTattWrap table tr th:first-child{
        width: 30%;
    }    
    .join_2Div .bomTattWrap table .radio + em + span {
        width: 30%;
    }
}